@model Motyvuoti_Dviratininkai.Models.MokejimoKortele

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>MokejimoKortele</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Numeris" class="control-label"></label>
                <input asp-for="Numeris" class="form-control" />
                <span asp-validation-for="Numeris" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Savininkas" class="control-label"></label>
                <input asp-for="Savininkas" class="form-control" />
                <span asp-validation-for="Savininkas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KlientasId" class="control-label"></label>
                <select asp-for="KlientasId" class ="form-control" asp-items="ViewBag.KlientasId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
