@model Motyvuoti_Dviratininkai.Models.Kelione
    <!-- Set up a container element for the button -->
<div id="paypal-button-container"></div>
<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>
<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '@DateTime.UtcNow.Subtract(@Model.kelionesPradzia).Multiply(Model.Dviratis.nuomosKaina).TotalHours.ToString().Substring(0, 4).Replace(':', ',')'
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                // Show a success message to the buyer
                // alert('Transaction completed by ' + details.payer.name.given_name + '!');
               window.location.href = '@Url.Action("ParodytiSekmingaApmokejima", "Apmokejimas")/'+ @Model.KelioneId
            });
        }


    }).render('#paypal-button-container');
</script>

