@model Motyvuoti_Dviratininkai.Models.Aikstele

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Aikstele</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Adresas" class="control-label"></label>
                <input asp-for="Adresas" class="form-control" />
                <span asp-validation-for="Adresas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vietuSkaicius" class="control-label"></label>
                <input asp-for="vietuSkaicius" class="form-control" />
                <span asp-validation-for="vietuSkaicius" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="laisvuVietuSkacius" class="control-label"></label>
                <input asp-for="laisvuVietuSkacius" class="form-control" />
                <span asp-validation-for="laisvuVietuSkacius" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longtitude" class="control-label"></label>
                <input asp-for="Longtitude" class="form-control" />
                <span asp-validation-for="Longtitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DarbuotojasId" class="control-label"></label>
                <select asp-for="DarbuotojasId" class ="form-control" asp-items="ViewBag.DarbuotojasId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
