@model Motyvuoti_Dviratininkai.Models.Taskas

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Taskas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TaskasId" />
            <div class="form-group">
                <label asp-for="Longtitude" class="control-label"></label>
                <input asp-for="Longtitude" class="form-control" />
                <span asp-validation-for="Longtitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarsrutasId" class="control-label"></label>
                <select asp-for="MarsrutasId" class="form-control" asp-items="ViewBag.MarsrutasId"></select>
                <span asp-validation-for="MarsrutasId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
