@model Motyvuoti_Dviratininkai.Models.Kelione

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Kelione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KelioneId" />
            <div class="form-group">
                <label asp-for="kelionesPradzia" class="control-label"></label>
                <input asp-for="kelionesPradzia" class="form-control" />
                <span asp-validation-for="kelionesPradzia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kelionesPabaiga" class="control-label"></label>
                <input asp-for="kelionesPabaiga" class="form-control" />
                <span asp-validation-for="kelionesPabaiga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nuvaziuotasAtstumas" class="control-label"></label>
                <input asp-for="nuvaziuotasAtstumas" class="form-control" />
                <span asp-validation-for="nuvaziuotasAtstumas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kelionesTrukme" class="control-label"></label>
                <input asp-for="kelionesTrukme" class="form-control" />
                <span asp-validation-for="kelionesTrukme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pradziosAdresas" class="control-label"></label>
                <input asp-for="pradziosAdresas" class="form-control" />
                <span asp-validation-for="pradziosAdresas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pabaigosAdresas" class="control-label"></label>
                <input asp-for="pabaigosAdresas" class="form-control" />
                <span asp-validation-for="pabaigosAdresas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DviratisId" class="control-label"></label>
                <select asp-for="DviratisId" class="form-control" asp-items="ViewBag.DviratisId"></select>
                <span asp-validation-for="DviratisId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KlientasId" class="control-label"></label>
                <select asp-for="KlientasId" class="form-control" asp-items="ViewBag.KlientasId"></select>
                <span asp-validation-for="KlientasId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

